/*----------------------------------------------------- common -----------------------------------------------------*/
@media (min-width: 1px) and (max-width: 767px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1440px) {
    .container{
        width: 1260px;
    }
}
html{
	font-size:100px\9;
}
.modal-box{
	padding:50px\9;
    background-color: #fff;
    border-radius: .08rem;
    position: fixed;
    top: .5rem;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    z-index: 5000;
    overflow: auto;
}

.clear{
	clear:both;
}
.block{
    display: block;
}
.inbk{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.display-no{
	display: none;
}
.bold{
    font-weight:600;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.nowrap{
    white-space: nowrap;
}
.sohide{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.ovhide{
    overflow: hidden;
}
.btn-theme{
    height: .42rem;
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 1;
    font-size: .2rem;
    font-weight: 600;
    color: #fff;
    background-color: #e5150b;
    border: .01rem solid #e5150b;
    outline: none !important;
    box-shadow: none !important;
}
.btn-theme:focus{
    color: #fff;
    background-color: #e5150b;
    border: .01rem solid #e5150b;
    outline: none !important;
    box-shadow: none !important;
}
.btn-theme:hover{
    color: #fff;
    background: #c9120a;
    border-color: #c9120a;
    outline: none !important;
    box-shadow: none !important;
}
.btn-theme:active{
    color: #fff;
    background: #ae1008;
    border-color: #ae1008;
    outline: none !important;
    box-shadow: none !important;
}
.btn-white{
    height: .32rem;
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 1;
    font-size: .16rem;
    font-weight: 600;
    color: #999;
    background-color: #fff;
    border: .01rem solid #c9c9c9;
    outline: none !important;
    box-shadow: none !important;
}
.btn-white:focus{
    color: #999;
    background-color: #fff;
    border: .01rem solid #c9c9c9;
    outline: none !important;
    box-shadow: none !important;
}
.btn-white:hover{
    color: #666;
    border-color: #a9a9a9;
    outline: none !important;
    box-shadow: none !important;
}
.btn-white:active{
    color: #333;
    border-color: #898989;
    outline: none !important;
    box-shadow: none !important;
}
.caret{
    border-top: 10px solid #e5150b;
    
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-top: -5px !important;
}
.dropup .caret{
    border-bottom: .12rem dashed #e5150b;
}
.w-15p{
    width: 15%;
}
.w-20p{
    width: 20%;
}
.w-50p{
    width: 50%;
}
.w-50{
	width: .5rem;
}
.w-70p{
    width: 70%;
}
.w-80p{
    width: 80%;
}
.w-100p{
    width: 100%;
}
.w-80{
    width: .8rem;
}
.w-144{
    width: 1.44rem;
}
.w-135{
    width: 1.35rem;
}
.w-300{
    width: 3rem;
}
.w-375{
    width: 3.75rem;
}
.w-190{
	width: 1.9rem;
}
.h-30{
    height: .3rem;
}
.h-42{
    height: .42rem;
}
.h-32{
    height: .32rem;
}
.h-59{
	height: .59rem;
}
.h-100p{
    height: 100%;
}
.h-50{
	height: .5rem;
}
.h-60{
	height: .6rem;
}
.h-40{
	height: .4rem;
}
.h-72{
	height: .72rem;
}
.h-96{
	height: .96rem;
}
.h-120{
	height: 1.2rem;
}
.h-155{
	height: 1.55rem;
}
.h-190{
	height: 1.9rem;
}
.h-290{
	height: 2.9rem;
}
.h-500{
	height:5rem;
}

.bgc-p{
    background-color:#f5d6d4;
}
.bgc-theme{
    background-color:#e5150b;
}
.bgc-e{
    background-color:#eee;
}
.bgc-f5{
    background-color:#f5f5f5;
}
.bgc-fc{
	background-color: #fcfbfb;
}
.bgc-f4{
	background-color:#F4F2F2;
}
.bgc-f8{
	background-color:#F8F8Fa ;
}
.bgc-fa{
	background-color:#FAFAFA;
}
.bgc-f{
    background-color:#fff;
}
.bgc-fa9f{
	background-color: #FA9F31;
}
.bgc-fafc{
	background-color: #fafafc;
	
}
.bgc-f-i{
    background-color:#fff !important;
}
.pdt-26{
	padding-top: .26rem;
}
.pdt-50{
	padding-top: .5rem;
}
.pdtb-0{
	padding-top:0;
	padding-bottom:0;
}
.pdtb-15{
    padding-top: .15rem;
    padding-bottom: .15rem;
}
.pdtb-20{
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.pdtb-20-i{
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
}
.pdtb-30{
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.pdtb-30-i{
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.pdtb-25{
	padding-top: .25rem;
	padding-bottom: .25rem;
}
.pdl-8{
	padding-left: .08rem;

}
.pdl-36{
	padding-left: .36rem;
}
.pdr-32{
	padding-right: .32rem;
}
.pdt-15{
    padding-top: .15rem;
}
.pdt-20{
    padding-top: .2rem;
}
.pdl-27{
	padding-left: .27rem;
}
.pdt-30{
    padding-top: .3rem;
}
.pdt-10{
    padding-top: .1rem;
}
.pdb-15{
    padding-bottom: .15rem;
}
.pdb-10{
	padding-bottom: .1rem;
}
.pdb-20{
    padding-bottom: .2rem;
}
.pdb-25{
    padding-bottom: .25rem;
}
.pdb-30{
    padding-bottom: .3rem;
}
.pdall-0{
	padding:0;
}
.pdlr-60{
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}
.pdlr-0{
    padding-left: 0;
    padding-right: 0;
}
.pdlr-0-i{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pdlr-10{
    padding-left: .1rem;
    padding-right: .1rem;
}
.pdlr-12{
    padding-left: .12rem;
    padding-right: .12rem;
}
.pdlr-15{
    padding-left: .15rem;
    padding-right: .15rem;
}
.pdlr-15-i{
    padding-left: .15rem !important;
    padding-right: .15rem !important;
}
.pdlr-25{
    padding-left: .25rem;
    padding-right: .25rem;
}
.pdlr-30{
    padding-left: .3rem;
    padding-right: .3rem;
}
.pdlr-30-i{
    padding-left: .3rem !important;
    padding-right: .3rem !important;
}
.pdl-0{
    padding-left: 0;
}
.pdl-10-i{
    padding-left: .1rem !important;
}
.pdl-15{
    padding-left: .15rem;
}
.pdl-35{
	padding-left: .35rem;
}
.pdl-25{
	padding-left: .25rem;
}
.pdl-30{
    padding-left: .3rem;
}
.pdl-40{
	padding-left:.4rem;
}
.pdl-40-i{
    padding-left: .4rem !important;
}
.pdl-70{
    padding-left: .7rem;
}
.pdl-90{
    padding-left: .9rem;
}
.pdl-50{
	padding-left: .5rem;
}
.pdr-0-i{
    padding-right:0 !important;
}
.pdr-50{
	padding-right: .5rem;
}
.pdr-15{
    padding-right: .15rem;
}
.pdr-30{
    padding-right: .3rem;
}
.pdr-35{
    padding-right: .35rem;
}
.pdr-60{
    padding-right: .6rem;
}
.pdr-80-i{
    padding-right: .8rem !important;
}
.pdr-100{
    padding-right: 1rem;
}
.pdr-135{
    padding-right: 1.35rem;
}
.mg-auto{
    margin: 0 auto;
}
.pdb-60{
	padding-bottom: .6rem;
}
.pdb-70{
	padding-bottom: .7rem;
}
.pdb-50{
	padding-bottom: .5rem;
}
.pdb-30{
	padding-bottom: .3rem;
}
.pdb-100{
	padding-bottom:1rem;
}
.mgtb-10{
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.mgtb-20{
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.mgtb-30{
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.mgt-32{
	margin-top: .32rem;
}
.mgt-10{
    margin-top: .1rem;
}
.mgt-04{
    margin-top: .04rem;
}
.mgt-15{
    margin-top: .15rem;
}
.mgt-20{
    margin-top: .2rem;
}
.mgt-27{
    margin-top: .27rem;
}
.mgt-25{
	margin-top: .25rem;
}
.mgt-30{
    margin-top: .3rem;
}
.mgt-35{
    margin-top: .35rem;
}
.mgb-10{
	margin-bottom:.1rem;
}
.mgb-15{
    margin-bottom: .15rem;
}
.mgb-20{
    margin-bottom: .2rem;
}
.mgb-30{
    margin-bottom: .3rem;
}
.mgb-35{
    margin-bottom: .35rem;
}
.t-50{
	top:.5rem;
}
.mgb-24{
    margin-bottom: .24rem;
}
.mgb-75{
	margin-bottom: .75rem;
}
.mglr-15{
    margin-left: .15rem;
    margin-right: .15rem;
}
.mglr-30{
    margin-left: .3rem;
    margin-right: .3rem;
}
.mglr-35{
    margin-left: .35rem;
    margin-right: .35rem;
}
.mglr-10{
	margin-left: .1rem;
	margin-right: .1rem;
}
.mglr-0{
	margin-left: 0;
	margin-right: 0;
}
.mgl-10{
    margin-left: .10rem;
}
.mgl-15{
    margin-left: .15rem;
}
.mgl-20{
    margin-left: .2rem;
}
.mgl-25{
    margin-left: .25rem;
}
.mgl-f35{
	margin-left:-0.35rem;
}
.mgl-48{
	margin-left: .48rem;
}
.mgl-96{
	margin-left: .96rem;
}
.mgl-130{
	margin-left: 1.3rem;
}
.mgr-25{
	margin-right: .25rem;
}
.mgr-20{
	margin-right: .2rem;
}
.mgr-10{
    margin-right: .1rem;
}
.mgr-15{
    margin-right: .15rem;
}
.mgr-30{
    margin-right: .3rem;
}
.mgr-35{
    margin-right: .35rem;
}
.mgr-45{
    margin-right: .45rem;
}
.mgr-60{
    margin-right: .6rem;
}
.mgr-100{
    margin-right: 1rem;
}
.bd-3f{
	border: 0.03rem solid #FFFFFF;
}
.bdc-c0{
	border-color: #c0c0c0;
}
.bd-theme{
    border: .01rem solid #e5150b;
}
.bd-progress-active{
	border-bottom: .02rem solid #e5150b;
}
.bd-progress{
	border-bottom: .02rem solid #FCFBFB;
}
.bd-bf{
    border: .01rem solid #bfbfbf;
}
.bd-top{
    border-top: .01rem solid #f4f4f4;
}
.bd-btm{
    border-bottom: .01rem solid #f4f4f4;
}
.bd-btm-c7{
    border-bottom: .01rem solid #c7c5c5;
}
.bd-btm-theme{
    border-bottom: .01rem solid #e5150b;
}
.bd-left-theme-3{
    border-left: .03rem solid #e5150b;
}
.bdr-4{
    border-radius: .04rem;
}
.bdr-l-4{
    border-top-left-radius: .04rem;
    border-bottom-left-radius: .04rem;
}
.bdr-8{
    border-radius: .08rem;
}
.bdr-16{
    border-radius: .16rem;
}
.pos-r{
    position:relative;
}
.pos-a{
	position: absolute;
}
.fs-0{
    font-size: 0;
}
.fs-01{
	font-size: .01rem;
}
.fs-14{
    font-size: .14rem;
}
.fs-15{
    font-size: .15rem;
}
.fs-16{
    font-size: .16rem;
}
.fs-18{
    font-size: .18rem;
}
.fs-20{
    font-size: .2rem;
}
.fs-22{
	font-size:.22rem;
}
.fs-24{
    font-size: .24rem;
}
.fw-600{
	font-weight: 600;
}
.clr-theme{
    /*color:#e7330d;*/
    color:#e5150b;
}
.clr-theme-i{
	color:#e5150b!important;
}
.clr-fa9f31{
	color:#e5150b;
}
.clr-3{
    color: #333!important;
}
.clr-333{
	color: #333;
}
.clr-41{
    color:#414141;
}
.clr-4{
    color:#444;
}
.clr-6{
    color: #666;
}
.clr-f{
    color:#fff;
}
.text-left-i{
    text-align: left !important;
}
.text-center-i{
    text-align: center !important;
}
.align-mid-i{
    vertical-align: middle !important;
}
.align-top{
    vertical-align: top;
}
.align-bottom{
	vertical-align: bottom;
}
.line-height-20{
    line-height: .2rem;
}
.line-height-24{
    line-height: .24rem;
}
.line-height-30{
    line-height: .3rem;
}
.line-height-32{
    line-height: .32rem;
}
.line-height-36{
    line-height: .36rem;
}
.line-height-42{
    line-height: .42rem;
}
.line-height-43{
    line-height: .43rem;
}
.line-height-44{
    line-height: .44rem;
}
.line-height-42-i{
    line-height: .42rem !important;
}
.line-height-80{
    line-height: .8rem;
}
.line-height-70{
    line-height: .7rem;
}
.line-height-50{
	line-height: .5rem;
}
.line-height-60{
	line-height: .6rem;
}
.line-height-40{
	line-height: .4rem;
}
.text-space-12{
    letter-spacing: .12rem;
}
.flt-l{
    float: left;
}
.flt-l-i{
    float: left !important;
}
.flt-r{
    float: right;
}
.right-0-i{
    right: 0 !important;
}
.right-15-i{
    right: .15rem !important;
}
.border-dash{
	border:0.01rem dashed #ef736d;
}
.navbar-nav,.navbar-nav>li{
    float: left !important;
    margin: 0 !important;
}
.new-btn{
	height: .32rem;
	width: 1.2rem;
	background: #FFFFFF;
	border: 0.01rem solid #e5150b;
	color: #e5150b;
	text-align: center;
	line-height: .32rem;
	font-size: .16rem;
}
.new-btn-theme{
	background: #e5150b ;
	color: #FFFFFF;
}
.new-btn-details{
	display: block;
	margin: .15rem auto;
	font-size: .14rem;
	width: .9rem;
	height: .3rem;
	line-height: .3rem;
	text-align: center;
	color: #FFFFFF;
	border: 0.01rem solid #FFFFFF;
	
}
.btn-group.bootstrap-select.form-control{
    height: .32rem;
    background-color: #f5f5f5;
    border-radius: .04rem;
    width:100%
}
.bootstrap-select>.dropdown-toggle{
	border-radius:0;
    padding-right: .48rem;
}

.datetime{
    border-top-right-radius: .03rem !important;
    border-bottom-right-radius: .03rem !important;
}
.input-group-addon{
    position: absolute;
    z-index: 10;
    top: 0;
    right: .15rem;
    width: .6rem;
    background-color: transparent;
    border: 0;
}
.tl-l{
	text-align: left;
}
.datetimepicker .year.active,
.datetimepicker .month.active,
.datetimepicker .day.today.active,
.datetimepicker .day.active{
    background: #e5150b !important;
}
.datetimepicker .day.today{
    background: #f5d6d4 !important;
}

.cell-style{
    padding: .15rem !important;
    line-height: .3rem !important;
    font-size:0.16rem;
}
.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner{
    line-height: .3rem;
    font-weight:500;
    font-size:0.16rem;
}
.fixed-table-container,.fixed-table-container thead th{
  border:none;
}

.bootstrap-table .table.table-no-bordered>tbody>tr>td, .bootstrap-table .table.table-no-bordered>thead>tr>th{
  border:none;
  font-size:0.16rem;
}

.border-no{
	border: none;
}
.pull-left{
	display: none;
}
.pull-right{
	float: none !important;
	margin: 0 auto;
}
.pull-right ul{
	text-align: center;
	overflow: hidden;
	display: inline-block;
}
.pull-right ul li{
	display: inline-block;
	margin: 0 0.05rem;
}
.fixed-table-pagination{
	margin-top: 1rem;
	text-align: center;
}
.wsp-no{
	white-space: nowrap;
}

.pull-right .pagination>.active>a, .pull-right .pagination>.active>a:focus, .pull-right .pagination>.active>a:hover, .pull-right .pagination>.active>span, .pull-right .pagination>.active>span:focus, .pull-right .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #E5150B;
    border-color: #E5150B;
}
.pull-right .pagination>li>a,.pull-right .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
   /*  margin-left: -1px; */
    line-height: 1.42857143;
    color: #5d5d5d;
    font-size: .16rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #cecece;
}
.pull-right .pagination>li>a:focus,.pull-right .pagination>li>a:hover,.pull-right .pagination>li>span:focus,.pull-right .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #fefafa;
    border-color: #E5150B;
}
/*英文字母字体*/
.abc-font{
	font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
}
